body{
    background-color: #242423;
    color: #E8EDDF;
}

img{
width: 300px;
}

h1{
    color: #F5CB5C;
}
h2{
    color: #F5CB5C;
}

h3{
    color: #F5CB5C;
}

h4{
    color: #F5CB5C;
}

a{
    color: #CFDBD5;
}

.icon{
    width: 24px;
}