body{
    background-color: rgb(250, 209, 241);
    color: rgb(133, 18, 117);
}
img{
    width: 300px;
}
h1{
    color: rgb(247, 49, 214);
}
h2{
    color: rgb(192, 4, 161);
}
h3{
    color: rgb(196, 12, 165);
}
